@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Alata&family=Cinzel&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header-title{
    font-family: 'Righteous', cursive;
    font-size: 30px;
}
.header-items{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}
.title-name{
    font-family: 'Advent Pro', sans-serif;
}
.glav-input{
    font-family: 'Righteous', cursive;
}